.navItems {
    text-align: center;
    color: white;
    padding-top: 20px;
}
.link {
    font-size: 20px;
    padding: 0px 60px;
    color: white;
    text-decoration: none;
}

.navItems :hover {
    background-color: #04001A;
    color: white;
    text-decoration: none;
    opacity: 75%;
}

