html, body {
    background-image: url(./imgs/p-bg2.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: fixed center;
}