.about {
    color: white;
    text-align: center;
    padding: 20px ;
}

.intro {
    text-align: center;
    padding: 40px;
    color: #04001A;
    background-color: white;
    opacity: 75%;
    filter: drop-shadow(5px 5px 30px white);

}
.me {
    width: 400px;
    height: 400px;
    padding: 20px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #04001A;
    opacity: 75%;
    filter: drop-shadow(5px 5px 30px white);    
}

.about-text {
    padding: 20px 40px 0px 40px;
}

.credential-head {
    padding-top: 20px;
}
.credentials {
    list-style: none;
    line-height: 60px;
    padding: 0;
}

.credentials :hover {
    opacity: 100%;
    filter: drop-shadow(0px 0px 7px white);
}